html {
  font-size: 16px;
}
#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* @media screen and (max-width: 600px) {
  #root {
    padding: 1rem;
  }
  
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.selection-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.selection-row > div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

select {
  padding: 4px;
  border-radius: 8px;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}

select:focus {
  border-color: #333;
}